.login__error {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-blue);
  border: 2px solid var(--primary-blue);
  padding: 0.5rem 0;
}

.login__buttons {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.login__buttons p {
  color: var(--primary-blue);
  font-size: 1.125rem;
  font-weight: 600;
}