.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0;
}

.nav-links__link {
  padding: 0.5rem;
  list-style: none;
}

.nav-links__link a {
  text-decoration: none;
  color: var(--secondary-blue);
}

.nav-links__link a:hover,
.nav-links__link a:active {
  color: var(--secondary-gray);
}