.spinner__container {
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.spinner {
  border: 0.5rem solid var(--primary-gray);
  border-radius: 50%;
  border-top: 0.5rem solid var(--primary-blue);
  border-bottom: 0.5rem solid var(--primary-blue);
  height: 100%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}