.content {
  padding: 1.5rem;
  border: solid var(--primary-gray) 0.125rem;
  width: 70%;
}

.content--remove-border-left {
  border-left: none;
}

.content--remove-border-right {
  border-right: none;
}