:root {
  --primary-blue: #3B5998;
  --secondary-blue: #8B9DC3;
  --primary-gray: #DFE3EE;
  --secondary-gray: #F7F7F7;
  --black: #000000;
  --white: #ffffff; 
  --error: #cf000f;
  --success: #009944;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
}