.search-bar {
   padding: 0.5rem 1rem;
   display:flex;
   align-items: center;
   position: relative;
   flex-grow: 0.75;
}

.search-bar__input-field {
  padding: 0.5rem 1rem;
  width: 100%;
}

.search-bar__input-field:focus {
  outline: none;
}

.search-bar__input-field::placeholder {
  color: var(--secondary-blue);
}

.search-bar__button {
  border: none;
  background: none;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
}

.search-bar__button img{
  opacity: 0.3;
  width: 1.5rem;
}

