.side {
  padding: 0.5rem;
  border: solid var(--primary-gray) 0.125rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--secondary-gray);
}

.remove-border-left {
  border-left: none;
}

.remove-border-right {
  border-right: none;
}