.button {
  background-color: var(--primary-blue);
  border: none;
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--primary-blue);
  text-transform: uppercase;
  width: fit-content;
}

.button--inverted {
  background-color: var(--primary-gray);
  color: var(--primary-blue);
}

.button:disabled {
  background-color: var(--secondary-blue);
  color: var(--primary-gray);
  border-color: var(--primary-gray);
  cursor: not-allowed;
}